// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.rouge-table{
  margin-bottom: 0;
}

table th, table td{
    padding: 0;
}

pre.lineno {
    padding: 0;
    border: none;
}

td.gutter.gl {
    border: none;
    border-right: 1px solid #e8e8e8;
}

td.code {
    border: none;
}

td.code pre {
    border: none;
}

table.rouge-table {
    border: none;
}
